{
  "created": "1970-01-01T12:00:00.000000000Z",
  "updated": "1970-01-01T12:00:00.000000000Z",
  "name": "00-stubby",
  "enabled": true,
  "precedence": false,
  "action": "allow",
  "duration": "always",
  "operator": {
    "type": "list",
    "operand": "list",
    "sensitive": false,
    "list": [
      {
        "type": "simple",
        "operand": "process.path",
        "sensitive": false,
        "data": "/usr/bin/stubby",
        "list": null
      },
      {
        "type": "regexp",
        "operand": "dest.port",
        "sensitive": false,
        "data": "443|853",
        "list": null
      }
    ]
  }
}