{
  "created": "1970-01-01T12:00:00.000000000Z",
  "updated": "1970-01-01T12:00:00.000000000Z",
  "name": "host",
  "enabled": true,
  "precedence": true,
  "action": "allow",
  "duration": "always",
  "operator": {
    "type": "simple",
    "operand": "process.path",
    "sensitive": false,
    "data": "/usr/bin/host",
    "list": []
  }
}