{
  "created": "1970-01-01T12:00:00.000000000Z",
  "updated": "1970-01-01T12:00:00.000000000Z",
  "name": "node",
  "enabled": true,
  "precedence": false,
  "action": "allow",
  "duration": "always",
  "operator": {
    "type": "regexp",
    "operand": "process.path",
    "sensitive": false,
    "data": "/usr/(local/|)bin/node",
    "list": []
  }
}