{
  "created": "1970-01-01T12:00:00.000000000Z",
  "updated": "1970-01-01T12:00:00.000000000Z",
  "name": "snapd",
  "enabled": true,
  "precedence": false,
  "action": "allow",
  "duration": "always",
  "operator": {
    "type": "list",
    "operand": "list",
    "sensitive": false,
    "list": [
      {
        "type": "regexp",
        "operand": "process.path",
        "sensitive": false,
        "data": "/snap/snapd/.*/usr/lib/snapd/snapd",
        "list": null
      },
      {
        "type": "regexp",
        "operand": "dest.host",
        "sensitive": false,
        "data": "^(|.*\\.)cdn\\.snapcraftcontent\\.com|api\\.snapcraft\\.io",
        "list": null
      }
    ]
  }
}