{
  "created": "1970-01-01T12:00:00.000000000Z",
  "updated": "1970-01-01T12:00:00.000000000Z",
  "name": "steamerrorreporter",
  "enabled": true,
  "precedence": false,
  "action": "deny",
  "duration": "always",
  "operator": {
    "type": "simple",
    "operand": "process.path",
    "sensitive": false,
    "data": "/home/{{ username }}/.var/app/com.valvesoftware.Steam/.local/share/Steam/linux32/steamerrorreporter",
    "list": []
  }
}