# UDEV Rules for OnlyKey, https://docs.crp.to/linux.html

ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0486", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0486", ENV{MTP_NO_PROBE}="1"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0486", MODE:="0660", GROUP:="plugdev", RUN+="/home/{{ username }}/.local/bin/onlykey-cli settime"
KERNEL=="ttyACM*", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0486", MODE:="0660", GROUP:="plugdev", RUN+="/home/{{ username }}/.local/bin/onlykey-cli settime"
