[Interface]
PrivateKey = {{ mullvad_wireguard_private_key }}
Address = {{ mullvad_wireguard_address.content }}
#DNS = 193.138.218.74
DNS = 127.0.0.1
PostUp = iptables -I OUTPUT ! -o %i -m mark ! --mark $(wg show %i fwmark) -m addrtype ! --dst-type LOCAL -j REJECT && iptables -I OUTPUT -s 192.168.0.0/16 -j ACCEPT && iptables -I OUTPUT -d 192.168.0.0/16 -j ACCEPT && ip6tables -I OUTPUT ! -o %i -m mark ! --mark $(wg show %i fwmark) -m addrtype ! --dst-type LOCAL -j REJECT{{ ' && iptables -I OUTPUT -s 10.0.2.2 -j ACCEPT && iptables -I OUTPUT -d 10.0.2.2 -j ACCEPT' if username == 'vagrant' else ''}}
PreDown = iptables -D OUTPUT ! -o %i -m mark ! --mark $(wg show  %i fwmark) -m addrtype ! --dst-type LOCAL -j REJECT && iptables -D OUTPUT -s 192.168.0.0/16 -j ACCEPT && iptables -D OUTPUT -d 192.168.0.0/16 -j ACCEPT && ip6tables -D OUTPUT ! -o %i -m mark ! --mark $(wg show  %i fwmark) -m addrtype ! --dst-type LOCAL -j REJECT{{ ' && iptables -D OUTPUT -s 10.0.2.2 -j ACCEPT && iptables -D OUTPUT -d 10.0.2.2 -j ACCEPT' if username == 'vagrant' else ''}}

[Peer]
PublicKey = {{ item.public_key }}
Endpoint = {{ item.ipv4_addr_in }}:51820
AllowedIPs = 0.0.0.0/0, ::/0