[Interface]
PrivateKey = {{ mullvad_wireguard_private_key }}
Address = {{ mullvad_wireguard_address.content }}

[Peer]
PublicKey = {{ item.public_key }}
Endpoint = {{ item.ipv4_addr_in }}:51820
AllowedIPs = 0.0.0.0/0, ::/0