[Interface]
PrivateKey = {{ mullvad_wireguard_private_key }}
Address = {{ mullvad_wireguard_address.content }}
PostUp = nft insert rule inet filter output oifname != "%i" mark != $(wg show %i fwmark) fib daddr type != local reject && nft insert rule ip filter output ip daddr {{ local_ip }} accept && nft insert rule ip filter output ip saddr {{ local_ip }} accept && nft insert rule ip filter output ip daddr 10.200.0.0/24 accept && nft insert rule ip filter output ip saddr 10.200.0.0/24 accept && nft insert rule ip filter output ip daddr 10.100.0.0/24 accept && nft insert rule ip filter output ip saddr 10.100.0.0/24 accept{{ ' && nft insert rule ip filter output ip daddr 10.0.2.2 accept && nft insert rule ip filter output ip saddr 10.0.2.2 accept' if username == 'vagrant' else ''}}

[Peer]
PublicKey = {{ item.public_key }}
Endpoint = {{ item.ipv4_addr_in }}:51820
AllowedIPs = 0.0.0.0/0, ::/0