
[Unit]
Wants=network-online.target
After=network-online.target
Description=Update blocklist

[Service]
User=unbound
Group=unbound
Type=oneshot
ExecStart=/usr/bin/local/blocklist.sh
ExecStartPost=/bin/systemctl reload unbound