#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0; policy drop;
    iif lo accept comment "Accept any localhost traffic"
    ct state invalid drop comment "Drop invalid connections"
    ct state established,related accept comment "Accept traffic originated from us"
    meta l4proto ipv6-icmp icmpv6 type { destination-unreachable, packet-too-big, time-exceeded, parameter-problem, mld-listener-query, mld-listener-report, mld-listener-reduction, nd-router-solicit, nd-router-advert, nd-neighbor-solicit, nd-neighbor-advert, ind-neighbor-solicit, ind-neighbor-advert, mld2-listener-report } accept comment "Accept ICMPv6"
		meta l4proto icmp icmp type { destination-unreachable, router-solicitation, router-advertisement, time-exceeded, parameter-problem } accept comment "Accept ICMP"
		ip protocol igmp accept comment "Accept IGMP"

    udp sport 1900 udp dport >= 1024 ip6 saddr { fd00::/8, fe80::/10 } meta pkttype unicast limit rate 4/second burst 20 packets accept comment "Accept UPnP IGD port mapping reply"
		udp sport 1900 udp dport >= 1024 ip saddr { 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, 169.254.0.0/16 } meta pkttype unicast limit rate 4/second burst 20 packets accept comment "Accept UPnP IGD port mapping reply"

    iif != lo ip daddr 127.0.0.1/8 drop comment "drop connections to loopback not coming from loopback"
    iif != lo ip6 daddr ::1/128 drop comment "drop connections to loopback not coming from loopback"

    ip6 nexthdr icmpv6 icmpv6 type { nd-neighbor-solicit, echo-request, nd-router-advert, nd-neighbor-advert } limit rate 10/second accept
    ip protocol icmp icmp type { destination-unreachable, router-solicitation, router-advertisement, time-exceeded, parameter-problem } limit rate 10/second accept

    tcp dport 4001 accept comment "ipfs"
    udp dport 4001 accept comment "ipfs"
    udp dport 6881 accept comment "bittorrent"
    tcp dport 6881 accept comment "bittorrent"
    tcp dport 22000 accept comment "syncthing"
    udp dport 22000 accept comment "syncthing"
    tcp dport 21027 accept comment "syncthing local discovery"
  }

  chain forward {
    type filter hook forward priority 0; policy drop;
    jump DOCKER-ISOLATION-STAGE-1
    iifname "docker0" accept
    ct state vmap { established: accept, related: accept, invalid: drop }
    mark 1 accept
  }

  chain DOCKER-ISOLATION-STAGE-1 {
		iifname "docker0" oifname != "docker0" jump DOCKER-ISOLATION-STAGE-2
		return
	}

	chain DOCKER-ISOLATION-STAGE-2 {
		oifname "docker0" drop
		return
	}

  chain output {
    type filter hook output priority 0; policy accept;

    ip protocol icmp icmp type echo-request limit rate 10/second log accept
    ip6 nexthdr icmpv6 icmpv6 type { nd-neighbor-solicit, echo-request, nd-router-advert, nd-neighbor-advert } limit rate 10/second accept
  }

  chain DOCKER-USER {
    mark set 1
  }
}

table inet nat {
  chain prerouting {
    type nat hook prerouting priority -100;

    # CT INVALID
    ct state invalid drop

    # TCP SYN (CT NEW)
    tcp flags & (fin|syn|rst|ack) != syn \
      ct state new \
      drop

    iifname "docker0" fib daddr type local accept
  }

  chain postrouting {
    type nat hook postrouting priority 100; policy accept;
		oifname != "docker0" ip saddr 172.17.0.0/16 counter masquerade
  }

  chain output {
    type nat hook output priority -100; policy accept;
		iifname "docker0" ip daddr != 127.0.0.0/8 fib daddr type local accept
  }
}
