#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0; policy drop;
    iif lo accept comment "Accept any localhost traffic"
    ct state invalid drop comment "Drop invalid connections"
    ct state established,related accept comment "Accept traffic originated from us"
    meta l4proto ipv6-icmp icmpv6 type { destination-unreachable, packet-too-big, time-exceeded, parameter-problem, mld-listener-query, mld-listener-report, mld-listener-reduction, nd-router-solicit, nd-router-advert, nd-neighbor-solicit, nd-neighbor-advert, ind-neighbor-solicit, ind-neighbor-advert, mld2-listener-report } accept comment "Accept ICMPv6"
		meta l4proto icmp icmp type { destination-unreachable, router-solicitation, router-advertisement, time-exceeded, parameter-problem } accept comment "Accept ICMP"
		ip protocol igmp accept comment "Accept IGMP"

    udp sport 1900 udp dport >= 1024 ip6 saddr { fd00::/8, fe80::/10 } meta pkttype unicast limit rate 4/second burst 20 packets accept comment "Accept UPnP IGD port mapping reply"
		udp sport 1900 udp dport >= 1024 ip saddr { 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, 169.254.0.0/16 } meta pkttype unicast limit rate 4/second burst 20 packets accept comment "Accept UPnP IGD port mapping reply"

    iif != lo ip daddr 127.0.0.1/8 drop comment "drop connections to loopback not coming from loopback"
    iif != lo ip6 daddr ::1/128 drop comment "drop connections to loopback not coming from loopback"

    ip6 nexthdr icmpv6 icmpv6 type { nd-neighbor-solicit, echo-request, nd-router-advert, nd-neighbor-advert } limit rate 10/second accept
    ip protocol icmp icmp type { destination-unreachable, router-solicitation, router-advertisement, time-exceeded, parameter-problem } limit rate 10/second accept

{% if username == 'vagrant' %}
    tcp dport ssh ip saddr { 10.0.2.2 } accept comment "Accept SSH from vagrant"
{% endif %}

    tcp dport 22000 ip saddr { {{ local_ip }} } accept comment "Syncthing"
    udp dport 22000 ip saddr { {{ local_ip }} } accept comment "Syncthing"
    udp dport 21027 ip saddr { {{ local_ip }} } accept comment "Syncthing discovery broadcast"
    tcp dport 6600 ip saddr { {{ local_ip }} } accept comment "MPD"

{% if mullvad_account is defined %}
    tcp dport {{ mullvad_ports[0] }} accept comment "BitTorrent"
    udp dport {{ mullvad_ports[0] }} accept comment "BitTorrent DHT"
    udp dport {{ mullvad_ports[1] }} accept comment "I2P"
    tcp dport {{ mullvad_ports[1] }} accept comment "I2P"
{% endif %}
  }

  chain forward {
    type filter hook forward priority 0; policy drop;
    ct state established, related accept;
    mark 1 accept
  }

  chain output {
    type filter hook output priority 0; policy accept;

    skuid messagebus drop comment "don't allow internet for dbus"
    skuid pulse drop comment "we don't use pulseaudio networking caps"
    skuid systemd-coredump drop comment "systemd-coredump doesn't use internet"

    #ip protocol icmp icmp type echo-request limit rate 10/second log accept
    #ip6 nexthdr icmpv6 icmpv6 type { nd-neighbor-solicit, echo-request, nd-router-advert, nd-neighbor-advert } limit rate 10/second accept
  }
}

table ip filter {
  chain DOCKER-USER {
    mark set 1
  }
}

# since kernel 5.2 we should use inet instead of ip/ip6
table ip nat {
  chain prerouting {
    type nat hook prerouting priority -100;

    # CT INVALID
    ct state invalid drop

    # TCP SYN (CT NEW)
    tcp flags & (fin|syn|rst|ack) != syn \
      ct state new \
      drop
  }
}

table ip6 nat {
  chain prerouting {
    type nat hook prerouting priority -100;

    # CT INVALID
    ct state invalid counter drop

    # TCP SYN (CT NEW)
    tcp flags & (fin|syn|rst|ack) != syn \
      ct state new \
      drop
  }
}
