[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=https://github.com/emersion/kanshi
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
AppArmorProfile=-kanshi
Nice=19
Restart=on-failure

[Install]
WantedBy=sway-session.target