[Unit]
Description=A lightweight Wayland notification daemon 
Documentation=https://github.com/emersion/mako
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/mako
AppArmorProfile=-mako
Restart=on-failure

[Install]
WantedBy=sway-session.target