* {
	border: none;
	border-radius: 0;
	font-family: FontAwesome, "Noto Sans Display";
	font-size: 16px;
	min-height: 0;
}

window#waybar {
	background: #303030;
	color: #ffffff;
}

tooltip {
	background: #303030;
	color: #ffffff;
}

tooltip label {
	color: #ffffff;
}

#workspaces button {
	padding: 0 4px;
	background: transparent;
	color: #ffffff;
}

#workspaces button.focused {
	background: #070707;
	border-bottom: 1px solid #ffffff;
}

#tray,
#language,
#network,
#cpu,
#wireplumber,
#battery,
#bluetooth,
#custom-microphone,
#custom-syncthing {
	padding: 0 4px;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#network.disconnected,
#wireplumber.muted,
#custom-wg,
#privacy {
	color: #bf616a;
}

#custom-microphone {
	color: #20d896;
}

#custom-syncthing {
	color: #2f2f2f;
}

#battery.charging {
	color: #26a65b;
}

#battery.warning:not(.charging) {
	color: #f53c3c;
}
