file://{{ large_dirs }}/Videos
file://{{ large_dirs }}/Downloads
file://{{ large_dirs }}/Music
file://{{ large_dirs }}/Pictures
file://{{ large_dirs }}/Documents
file://{{ large_dirs }}/Games
file://{{ large_dirs }}/Books
file://{{ large_dirs }}/Sync
file://{{ large_dirs }}/src
file:///home/{{ username }}/.tb/tor-browser/Browser/Downloads

