file:///home/{{ username }}/Music
file:///home/{{ username }}/Pictures
file:///home/{{ username }}/Videos
file:///home/{{ username }}/Downloads
file:///home/{{ username }}/Games
file:///home/{{ username }}/Books
file:///home/{{ username }}/src