file:///home/{{ username }}/Videos
file:///home/{{ username }}/Downloads
file:///home/{{ username }}/Music
file:///home/{{ username }}/Pictures
file:///home/{{ username }}/Documents
file:///home/{{ username }}/Games
file:///home/{{ username }}/Books
file:///home/{{ username }}/Sync
file:///home/{{ username }}/.local/share/torbrowser/tbb/x86_64/tor-browser_en-US/Browser/Downloads
file:///home/{{ username }}/src
