XDG_DOWNLOAD_DIR="{{ large_dirs }}/Downloads"
XDG_TEMPLATES_DIR="{{ large_dirs }}/Templates"
XDG_PUBLICSHARE_DIR="{{ large_dirs }}/Sync"
XDG_DOCUMENTS_DIR="{{ large_dirs }}/Documents"
XDG_MUSIC_DIR="{{ large_dirs }}/Music"
XDG_PICTURES_DIR="{{ large_dirs }}/Pictures"
XDG_VIDEOS_DIR="{{ large_dirs }}/Videos"