xmodmap ~/.Xmodmap &
xrdb -merge ~/.Xresources &
xset s 300 5 &
wmname LG3D &
xsettingsd &

if ! pgrep -x ssh-agent -u $(id -u) >/dev/null; then
	# This sets SSH_AUTH_SOCK and SSH_AGENT_PID variables
	eval "$(ssh-agent -s)"
	export SSH_AUTH_SOCK SSH_AGENT_PID
	cat > "$XDG_RUNTIME_DIR/ssh-agent-env" <<- __EOF__
	export SSH_AUTH_SOCK=$SSH_AUTH_SOCK
	export SSH_AGENT_PID=$SSH_AGENT_PID
	__EOF__
else
	if [ -s "$XDG_RUNTIME_DIR/ssh-agent-env" ]; then
		. $XDG_RUNTIME_DIR/ssh-agent-env
	fi
fi

export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export QT_QPA_PLATFORMTHEME=qt5ct
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=gasp -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Dswing.crossplatformlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Djdk.gtk.version=3'
export NO_AT_BRIDGE=1
export TOR_CONTROL_COOKIE_AUTH_FILE=/run/tor/control.authcookie
export TOR_CONTROL_PORT=9051
export TOR_SOCKS_PORT=9050
export TOR_SKIP_LAUNCH=1

dex -a &

{% if ansible_distribution_release == 'buster' %}
xss-lock -l -- i3lock -c 2f2f2f &
{% else %}
export $(grep -v '^#' "$HOME/.config/xsecurelock/xsecurelock.env" | xargs -d '\n')
xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock &
{% endif %}

exec i3
