xmodmap ~/.Xmodmap &
xsettingsd &
xrdb -merge ~/.Xresources && /usr/bin/urxvtd -q -f -o &
dex -a &
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export QT_STYLE_OVERRIDE="Adwaita-Dark"
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=gasp -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Dswing.crossplatformlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Djdk.gtk.version=3'
export NO_AT_BRIDGE=1
export TOR_CONTROL_COOKIE_AUTH_FILE=/run/tor/control.authcookie
export TOR_CONTROL_PORT=9051
export TOR_SOCKS_PORT=9050
export TOR_SKIP_LAUNCH=1
wmname LG3D &

xset s 300 5 &

{% if ansible_distribution_release == 'buster' %}
  xss-lock -l -- i3lock -c 000000 &
{% else %}
  export $(grep -v '^#' "$HOME/.config/xsecurelock/xsecurelock.env" | xargs -d '\n')
  xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock &
{% endif %}

hsetroot -solid "#000000"

exec awesome