[Desktop Entry]
Name=FreeTube
Comment=An Open Source YouTube app for privacy.
GenericName=FreeTube
Exec=/usr/bin/flatpak run --branch=stable --command=/app/bin/run.sh --file-forwarding io.freetubeapp.FreeTube --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-gpu @@u %u @@
Icon=io.freetubeapp.FreeTube
Type=Application
StartupNotify=true
StartupWMClass=FreeTube
Categories=GNOME;GTK;Utility;
MimeType=x-scheme-handler/freetube;
X-Flatpak=io.freetubeapp.FreeTube
