[Desktop Entry]
Version=1.0
Name=Slack
Exec=chromium --class="slack" --profile-directory=slack --app=https://slack.com
Terminal=false
Type=Application
Categories=Network;
Keywords=slack;im;
StartupWMClass=slack
StartupNotify=true
