{% if homeserver_ip is defined %}
<DefaultPrinter network_printer>
Info network printer
DeviceURI socket://{{ homeserver_ip }}:9100
State Idle
Type 36876
Accepting Yes
Shared Yes
JobSheets none none
QuotaPeriod 0
PageLimit 0
KLimit 0
OpPolicy default
ErrorPolicy retry-job
</DefaultPrinter>
{% endif %}