<DefaultPrinter network_printer>
Info network printer
MakeModel Canon PIXMA MG2540S - CUPS+Gutenprint v5.3.1
DeviceURI socket://{{ print_server_ip }}:9100
State Idle
Type 36876
Accepting Yes
Shared Yes
JobSheets none none
QuotaPeriod 0
PageLimit 0
KLimit 0
OpPolicy default
ErrorPolicy retry-job
</DefaultPrinter>